@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* Font Orbitron */

/* Time Container */
.stop-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#Stop-Mins, #Stop-Seconds{
    display: flex;
    min-width: 5.5rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
    #Stop-Millisecs {
        display: flex;
        min-width: 5.3rem;
        font-size: 3rem;
    }
.split-time {
    display: flex;
    flex: 30 0 auto;
    border: 1px solid #000;
}
.split-sheet {
    display: flex;
    flex-direction: column;
}
   .lap-split {
    flex: 1 0 auto;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    text-align: center;
}

.stop-switch {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 20 0 auto;
}
    .side-btn {
        padding: 0.5rem 1.2rem !important;
        font-size: 1.2rem !important;
        width: 6rem;
    }
    .middle-btn {
        padding: 1.5rem 1.2rem !important;
        font-size: 1.5rem !important;
    }