.switch-con {
    width: 75%;
    height: 50px;
}

.switch-group {
    width: 100%;
    height: 100%;
}   
    .switch-btn {
        border: 1px solid var(--DarkBlue2) !important;
        color: #fff !important;
        background-color: var(--DarkBlue4) !important;
    }
    .switch-btn.active {
        background-color: var(--DarkBlue1) !important;
    }
    .switch-btn:not(.active):hover {
        background-color: var(--DarkBlue1) !important;
        transition: ease 0.4s;}
