*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    user-select: none;
    background-color: var(--Timer2) !important;
}

:root {
    --Main1: #1C315E;
    --Main2: #227C70;
    --Main3: #88A47C;
    --Main4: #E6E2C3;

    --DarkBlue4: #0A2647;
    --DarkBlue3: #144272;
    --DarkBlue2: #205295;
    --DarkBlue1: #2C74B3;

    --MiniGray: #393E46;
    --MiniGreen: #6D9886;
    --MiniBeige: #F2E7D5;
    --MiniWhite: #F7F7F7;

    --Clock1: #1A120B;
    --Clock2: #3C2A21;
    --Clock3: #D5CEA3;
    --Clock4: #E5E5CB;

    --Timer1: #F8EDE3;
    --Timer2: #DFD3C3;
    --Timer3: #D0B8A8;
    --Timer4: #85586F;

    --Stop1: #EB455F;
    --Stop2: #FCFFE7;
    --Stop3: #BAD7E9;
    --Stop4: #2B3467;
}

#AppScreen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Toggle Button */
#ToggleCon {
    display: flex;
    justify-content: end;
}    .TCon {
       width: 70px;
       height: 70px;
       border: 1px solid #000;
    }

/* Clock App */
#ClockAppZone { padding: 4rem 0; }
#ClockZone {
    display: flex;
    justify-content: center;
}


/* Switch Zone */
#SwitchZone {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}



/*Media Query*/
@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 401px) and (max-width: 576px) {
  
}   

@media only screen and (min-width: 576px) and (max-width: 767px) /*sm*/ {
  
}    

@media only screen and (min-width: 768px) and (max-width: 991px) /*md*/ {

}   

@media only screen and (min-width: 992px) and (max-width: 1199px) /*lg*/ {

}   

@media only screen and (min-width: 1200px) and (max-width: 1399px) /*xl*/ {
    
}