@import url(https://fonts.googleapis.com/css?family=Sofia);
/* Sofia */

nav {background-color: var(--Main2);}

#Logo {
    font-family: "Sofia", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    margin-left: 4rem;
}

#NavMenu li{
    display: flex;
    flex-direction: column;
    text-align: center;
}
    #NavMenu li a {
        text-decoration: none;
        color: wheat;
    }

#About a {font-size: 10px;}
#About > li > a span {
    text-decoration: none;
    color: wheat !important;
    font-size: 1rem;}
#About img {max-width: 40px;}