.SCon {
    width: 75%;
    height: 50px;
}

.SwitchGroup {
    width: 100%;
    height: 100%;
}   .SwitchBTN {
        border: 1px solid var(--DarkBlue2) !important;
        color: #fff !important;
        background-color: var(--DarkBlue4) !important;
    }
    .SwitchBTN.active {
        background-color: var(--DarkBlue1) !important;
    }
    .SwitchBTN:not(.active):hover {
        background-color: var(--DarkBlue1) !important;
        transition: ease 0.4s;
    }
