.CCon {
    min-width: 300px;
    min-height: 300px;
}

.CFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid var(--Clock2);
    background-color: var(--Clock4);
}
/* Center Dot */
.CCenter {  
    position: absolute;
    width: 3%;
    height: 3%;
    left: 49%;
    top: 50%;
    border-radius: 50%;
    background-color: var(--Clock1);
}   
    .Hand {
       position: absolute;
       left: 49%;
       top: 50%;}
    #Hours {
        height: 25%;
        border-left: 8px solid #000;
        transform: translateY(-88%) rotate(0deg);}
    #Mins {
        height: 35%;
        border-left: 8px solid #2C74B3;
        transform: translateY(-92%) rotate(0deg);}
    #Seconds {
        height: 35%;
        border-left: 3px solid #000;
        transform: translateX(80%) translateY(-92%) rotate(0deg);}

/* Numbers  Start 12 */
.Nums {
    position: absolute;
    font-size: 1.5rem;
    transform: translateX(-50%) translateY(-50%); }
.Nums:nth-child(1) { left: 50%; top: 7%; } .Nums:nth-child(2) { left: 71%; top: 12%; }
.Nums:nth-child(3) { left: 87%; top: 29%; } .Nums:nth-child(4) { left: 93%; top: 50%; }
.Nums:nth-child(5) { left: 87%; top: 71%; } .Nums:nth-child(6) { left: 71%; top: 88%; }
.Nums:nth-child(7) { left: 50%; top: 93%; } .Nums:nth-child(8) { left: 27%; top: 88%; }
.Nums:nth-child(9) { left: 12%; top: 70%; } .Nums:nth-child(10) { left: 7%; top: 49%; }
.Nums:nth-child(11) { left: 11%; top: 29%; } .Nums:nth-child(12) { left: 26%; top: 12%; }
