@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* Font Orbitron */

.DigiCon {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.Digi-Face {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
/* Time */
.Digi-Time {
    display: flex;
    flex: 5 0 auto;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
   #Digi-Hours, #Digi-Mins, #Digi-Seconds {
        display: flex;
        flex: 5 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }
    #Digi-Point {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
/* Date */
.Digi-Date {
    display: flex;
    flex: 3 0 auto;
    align-items: center;
    justify-content: center;
}
    .Digi-Date span {
        margin: 0 0.3rem;
        font-size: 1.2rem;
        font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    }