@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* Font Orbitron */

.DCCon {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.DCFace {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
/* Time */
.DCTime {
    display: flex;
    flex: 5 0 auto;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
   #DCHours, #DCMins, #DCSeconds {
        display: flex;
        flex: 5 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }
    #DCPoint {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
/* Date */
.DCDate {
    display: flex;
    flex: 3 0 auto;
    align-items: center;
    justify-content: center;
}
    .DCDate span {
        margin: 0 0.3rem;
        font-size: 1.2rem;
        font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    }